
* text=auto eol=lf


*.cpp    text eol=lf
*.h      text eol=lf
*.c      text eol=lf
*.hpp    text eol=lf
*.inl    text eol=lf
*.cs     text eol=lf
*.py     text eol=lf
*.shader text eol=lf
*.usf    text eol=lf
*.ush    text eol=lf
*.ini    text eol=lf
*.json   text eol=lf
*.xml    text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf
*.txt    text eol=lf
*.md     text eol=lf
*.csv    text eol=lf


*.uasset   filter=lfs diff=lfs merge=lfs -text
*.umap     filter=lfs diff=lfs merge=lfs -text
*.ubulk    filter=lfs diff=lfs merge=lfs -text   
*.uexp     filter=lfs diff=lfs merge=lfs -text   
*.locres   filter=lfs diff=lfs merge=lfs -text   


*.uplugin  filter=lfs diff=lfs merge=lfs -text   
*.uproject filter=lfs diff=lfs merge=lfs -text   


*.png      filter=lfs diff=lfs merge=lfs -text
*.jpg      filter=lfs diff=lfs merge=lfs -text
*.jpeg     filter=lfs diff=lfs merge=lfs -text
*.tga      filter=lfs diff=lfs merge=lfs -text
*.bmp      filter=lfs diff=lfs merge=lfs -text
*.tiff     filter=lfs diff=lfs merge=lfs -text
*.tif      filter=lfs diff=lfs merge=lfs -text
*.exr      filter=lfs diff=lfs merge=lfs -text 
*.hdr      filter=lfs diff=lfs merge=lfs -text


*.fbx      filter=lfs diff=lfs merge=lfs -text
*.obj      filter=lfs diff=lfs merge=lfs -text
*.gltf     filter=lfs diff=lfs merge=lfs -text
*.glb      filter=lfs diff=lfs merge=lfs -text
*.blend    filter=lfs diff=lfs merge=lfs -text 
*.dae      filter=lfs diff=lfs merge=lfs -text
*.3ds      filter=lfs diff=lfs merge=lfs -text


*.wav      filter=lfs diff=lfs merge=lfs -text
*.mp3      filter=lfs diff=lfs merge=lfs -text
*.ogg      filter=lfs diff=lfs merge=lfs -text
*.flac     filter=lfs diff=lfs merge=lfs -text
*.aiff     filter=lfs diff=lfs merge=lfs -text
*.bank     filter=lfs diff=lfs merge=lfs -text  


*.mp4      filter=lfs diff=lfs merge=lfs -text
*.mov      filter=lfs diff=lfs merge=lfs -text
*.webm     filter=lfs diff=lfs merge=lfs -text
*.avi      filter=lfs diff=lfs merge=lfs -text


*.ttf      filter=lfs diff=lfs merge=lfs -text
*.otf      filter=lfs diff=lfs merge=lfs -text
*.woff     filter=lfs diff=lfs merge=lfs -text
*.woff2    filter=lfs diff=lfs merge=lfs -text


*.psd      filter=lfs diff=lfs merge=lfs -text  
*.xcf      filter=lfs diff=lfs merge=lfs -text  
*.ai       filter=lfs diff=lfs merge=lfs -text   
*.zip      filter=lfs diff=lfs merge=lfs -text   
*.rar      filter=lfs diff=lfs merge=lfs -text

